<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Meme</key>
	<array>
		<dict>
			<key>10 Guy</key>
			<string>10guy.jpg</string>
			<key>Angry shool boy</key>
			<string>angry_school_boy.jpg</string>
			<key>Advice Dog</key>
			<string>advice_dog.jpg</string>
			<key>Advice God</key>
			<string>advice_god.jpg</string>
			<key>Advice Yoda Gives</key>
			<string>advice_yoda_gives.jpg</string>
			<key>Aint That Some Shit</key>
			<string>aint_that_some_shit.jpg</string>
			<key>Alien</key>
			<string>alien.jpg</string>
			<key>Angry Head Shake</key>
			<string>angry_head_shake.jpg</string>
			<key>Angry Mom</key>
			<string>angry_mom.jpg</string>
			<key>Angry Mouth</key>
			<string>angry_mouth.jpg</string>
			<key>Angry Shaking</key>
			<string>angry_shaking.jpg</string>
			<key>Angry With Pc</key>
			<string>angry_with_pc.jpg</string>
			<key>Anti Joke Chicken</key>
			<string>anti_joke_chicken.jpg</string>
			<key>Arrow In Knee</key>
			<string>arrow_in_knee.jpg</string>
			<key>Baby Troll</key>
			<string>baby_troll.jpg</string>
			<key>Bad Advice Cat</key>
			<string>bad_advice_cat.jpg</string>
			<key>Bad Luck Brian</key>
			<string>bad_luck_brian.jpg</string>
			<key>Beer Guy</key>
			<string>beer_guy.jpg</string>
			<key>Beyon</key>
			<string>Beyon.jpg</string>
			<key>Big Smile</key>
			<string>big_smile.jpg</string>
			<key>Blue Y U No</key>
			<string>blue_y_u_no.jpg</string>
			<key>Brant Rules</key>
			<string>brant_rules.jpg</string>
			<key>Broken Heart</key>
			<string>broken_heart.jpg</string>
			<key>Chemistry Cat</key>
			<string>chemistry_cat.jpg</string>
			<key>Chin Strapping</key>
			<string>chin_strapping.jpg</string>
			<key>Crazy Rage</key>
			<string>crazy_rage.jpg</string>
			<key>Creepy Dark</key>
			<string>creepy_dark.jpg</string>
			<key>Cry Pc</key>
			<string>cry_pc.jpg</string>
			<key>Crying</key>
			<string>crying.jpg</string>
			<key>Cuteness Overload</key>
			<string>cuteness_overload.jpg</string>
			<key>Depression Dog</key>
			<string>depression_dog.jpg</string>
			<key>Derp Gusta</key>
			<string>derp_gusta.jpg</string>
			<key>Desk Flip</key>
			<string>desk_flip.jpg</string>
			<key>Devil</key>
			<string>devil.jpg</string>
			<key>Look From Bottom</key>
			<string>look_from_bottom.jpg</string>
			<key>Annoying childhood friend</key>
			<string>annoying_childhood_friend.jpg</string>
			<key>Annoying facebook girl</key>
			<string>annoying_facebook_girl.jpg</string>
			<key>Are you fucking kidding me clean</key>
			<string>are_you_fucking_kidding_me_clean.jpg</string>
			<key>Art student owl</key>
			<string>art_student_owl.jpg</string>
			<key>Baby godfather</key>
			<string>baby_godfather.jpg</string>
			<key>Bear grylls</key>
			<string>bear_grylls.jpg</string>
			<key>Bill oreilly</key>
			<string>bill_oreilly.jpg</string>
			<key>Black guy gun</key>
			<string>black_guy_gun.jpg</string>
			<key>Black</key>
			<string>Black.png</string>
			<key>Blond</key>
			<string>Blond.png</string>
			<key>Blond2</key>
			<string>Blond2.png</string>
			<key>Brace yourselves x is coming</key>
			<string>brace_yourselves_x_is_coming.jpg</string>
			<key>Brad pitt</key>
			<string>brad_pitt.jpg</string>
			<key>Business cat</key>
			<string>business_cat.jpg</string>
			<key>Butthurt dweller</key>
			<string>butthurt_dweller.jpg</string>
			<key>College liberal</key>
			<string>college_liberal.jpg</string>
			<key>Courage wolf</key>
			<string>courage_wolf.jpg</string>
			<key>Creepy glasses guy</key>
			<string>creepy_glasses_guy.jpg</string>
			<key>Dat ash</key>
			<string>dat_ash.jpg</string>
			<key>Dating site murderer</key>
			<string>dating_site_murderer.jpg</string>
			<key>Disaster girl</key>
			<string>disaster_girl.jpg</string>
		</dict>
	</array>
</dict>
</plist>
